<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<main>

           
		
		<div id="support">
			<h2>I am here to listen</h2>
		</div>
		<div id="secondary">
			<img src="" alt="">
		</div>
		<div id="discovery">
			<h2>Reach out and discover</h2>
			<a href="#"><button>Sign up</button><%= link_to 'Signup' .html_safe, 'pages#signups' %> </a>
		</div>
	
    </div>
	</main>
	
</body>
</html>

