<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<main>
<div id="menu">
        <ul>
            <li><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
            <li><a href="#">Menu Item 4</a></li>
           
    </div>
    <div id="right">
        <div id="menubar">
            <div id="button">
                Menu
            </div>
        </div>
           
		<a href="#"><button>Learn More</button></a>
		<div id="support">
			<h2>I am here to listen</h2>
		</div>
		<div id="secondary">
			<img src="" alt="">
		</div>
		<div id="discovery">
			<h2>Reach out and discover</h2>
			<a href="#"><button>Learn More</button></a>
		</div>
	
    </div>
	</main>
	
</body>
</html>

