<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Who am I</title>
</head>
<body>
<header>
	<nav></nav>
</header>
<main>
	 <%=image_tag 'url.jpg' %>
	<p>The name is Alex and I am a freelance web developer and graphic designer that was born and raised in Brooklyn, NY. I studied Graphic/Web Design at Pratt Institute. My experience in the digital advertising industry has given him a broad and practical professional base with a focus on communication and problem-solving. My Skills consist of HTML, CSS, JavaScript, React.js, and Ruby on Rails</p>

</main>	
</body>
</html>