<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Who am I</title>
</head>
<body>
<header>
	<nav></nav>
</header>
<main>
	 <%=image_tag 'url.jpg' %>
	<p>The name is Alex and I am a freelance web developer and graphic designer that was born and raised in Brooklyn, NY. I studied Graphic/Web Design at Pratt Institute. My experience in the digital advertising industry has given him a broad and practical professional base with a focus on communication and problem-solving.</p>

	<p>My Skills consist of: <b>HTML, CSS, JavaScript, React.js, and Ruby on Rails</b></p>

	<p>I am also a 5th degree black belt at  <%= link_to '<b>the Muzosa Bujinkan Dojo</b>'.html_safe, 'http://www.muzosa.com', :target => '_blank' %> drop by for a free class</p>

</main>	
</body>
</html>