<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
</head>
<body>
<header>
	<nav></nav>
</header>
<main>
	<%= link_to 'Contact' .html_safe, 'contact#new' %>
</main>	
</body>
</html>