<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
</head>
<body>
<header>
	<nav></nav>
</header>
<main>
	<div id="email"><%= link_to 'Contact' .html_safe, 'contact#new' %></div> 
</main>	
</body>
</html>