<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portfolio</title>
</head>
<body>
<header>
	<nav></nav>
</header>
<main>
	<p title="view my work">Asspiring web developer and It security professional</p>
	
	<div id="projects">
		<ul>
		<%= link_to image_tag('assets/DishMR.png'), '#' %>
	    <%= link_to image_tag('assets/NinjaRun.png'), '#' %>
	    <%= link_to image_tag(''), '#' %>
		</ul>
	</div>

</main>	

</body>
</html>