<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcomw</title>
</head>
<body>
<header>
	<nav></nav>
	<h1 title="name">Alex Phinn</h1>
</header>
<main>
	<p title="view my work">Asspiring web developer and It security professional</p>
	<a href="#"><button>View my work</button></a>

</main>	
<footer>
	<ul>
		<li class="social"><a href="images/github-"></a></li>
		<li class="social"><a href="LinkedIn"></a></li>
		<li class="social"><a href="Twitter"></a></li>
		<li class="social"><img src="" alt="" title="Copy Right"></li>
	</ul>
</footer>
</body>
</html>