<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>
<header>
	<nav></nav>
</header>
<main>
	<p title="view my work">Asspiring web developer and It security professional</p>
	<a href="/portfolio"><button>View my work</button></a>

</main>	

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/path/to/unslider.js"></script> <!-- but with the right path! -->
<script>$(function() { $('.banner').unslider() })</script>
</body>
</html>