*{margin: 0; padding: 0;}

button{
	background-color: white;
	border: none;
	margin: -116px auto;
	width: 100vw;
	height: 100vh;
	font-size: 37px;
	font-weight: bold;
	text-align: center;
	padding: 255px 0 0 0;
	
}

#welcome{
	display: none;
}

#container{

	height:100vh;
	width: 100%;
	/*background-color: black;*/
	display: none;
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.75),
			rgba(0, 0, 0, 0.75)
			),
	url("83.png");

	min-width: 1500px;
	clear: both;
	min-height: 1000px;

}

#bio{
	display:none;	
}

.works{
	display:none;	
}

#text{

	color: white;
	font-family: "Trebuchet", helvetica, sans-serif ;
	text-align: center;
	width: 903px;
	margin: 0 auto;
	padding: 260px 0 21px 0;

}


#line{

	border-bottom: solid white 2px;
	width: 903px;
	margin:0 auto;
	
}

#about{

	border: solid white 2px;
	width: 330px;
	height: 57px;
	margin: 0 auto;
	color: white;
	font-size: 37px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	line-height: 32px;
}

#portfolio{

	border: solid white 2px;
	width: 330px;
	height: 57px;
	margin: -81px 0px 0 138px;
	color: white;
	font-size: 37px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	position: relative;
	float: left;
	line-height: 32px;
		
}

div img{
	width: 300px;
}

#contact{

	border: solid white 2px;
	width: 330px;
	height: 57px;
	margin: -81px 142px 0 0;
	float: right;
	color: white;
	font-size: 37px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	position: relative;
	line-height: 32px;
}

a:link{
  text-decoration: none!important;
}

.works{
    display:none;
    position:relative;
    cursor:pointer;
}
.works p{
    position:absolute;
    opacity:0;
    top:50%;
    text-align:center;
    font-size:20px;
    line-height:20px;
    margin-top:-10px;
    z-index:3;
    background:rgba(0,0,0, 0.7);
    transition:1s;
}

.works img {
    display:block
    width:300px;
    height:200px;
    margin:5px;
    -webkit-transition:opacity 0.26s ease-out;
    -moz-transition:opacity 0.26s ease-out;
    -ms-transition:opacity 0.26s ease-out;
    -o-transition:opacity 0.26s ease-out;
    transition:opacity 0.26s ease-out;
    transition:500ms;
}
	#text:hover img {
	    opacity:0.5;
	}
	#text:hover .wrap:hover img {
	    opacity:1;
	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	    z-index:2;
	    position:relative;
	    transition:500ms;
	}
	.works:hover p {
	    opacity :1;
	}

	.w1{
	
	float: right;
    /*margin: -195px 200px 0 0;*/
	
	}

	.w2{
	
	float: right;
   /* margin: -198px 200px 0 0;*/
	
	}
	
	/*.w3{
    margin: 0 0 0 -607px;
	}*/
	/*.w4{
	margin: 0 0 0 -300px;
	}*/

	
	@media only screen and (max-width: 400px){
				body{/*background-color: pink*/;max-width: 400px;}
				#container{margin:auto 0;max-width:667px; max-height: 1000px;}
				#bio{ max-width: 300px;font-size: 30px;}

				}



