/* Reset */

*{margin: 0; padding: 0;font-family: "Trebuchet", helvetica, sans-serif ;}

/* General */

body{
	color: white;
	font-family: "Trebuchet", helvetica, sans-serif;
	position: relative;
}

a{
	color: white;
	text-decoration: none;
}

a:hover,
a:focus{
	background-color: white;
	color: black;
	text-decoration: none;
}

img {
	width:100%;
}

h1 {
	margin-bottom:1.6em;
}

/* Layout */

#container{	
	margin: 0 auto;
}


/* Header */

#logo{
	margin: 0 auto 50px;
	
}



/* Body */

#content{
	margin: 0 auto 20px;
	/*padding: 186px 0 21px 0;*/
}



#line{
	
	margin:0 auto;
}

	#line a {
		
		margin: 20px 0 auto;
		padding: 15px 20px 20px;
		}




/* Tablet Screen*/	

@media only screen and (min-width: 768px){
	/* Layout */
	#container{
	background: linear-gradient( rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) ), url("83.png") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	padding: 50px 20px;
}

#content,
#line {
	max-width: 960px;
}

/* Header */

#logo,
#logo img {
	height:90px;
	width:384px;
}


/* Body */
#content{
	text-align: center;
	/*padding: 186px 0 21px 0;*/
}

.works{
		display: flex;
		justify-content: space-around;
	}

	.works > div{
		width: 33.333%;
	}

	.works > div a {
		display: block;
	}

	.works img{
		transition:opacity 0.5s ease-out;
	}

	.works div:hover img {
		opacity:0.65;
	}

	.works div{
		position:relative;
	}

	.works p{
		background:rgba(0,0,0, 0.7);
		bottom:0;
		font-size:20px;
		position:absolute;
		opacity:0;
		text-align:center;
		/*top:50%;*/
		/*transform:translateY(-50%);*/
		transition:1s;
		z-index:3;
	}

	.works div:hover p {
		opacity :1;
	}

	#line{
	border-top: solid white 2px;
	display: flex;
	justify-content: space-around;
}

	#line a {
		/*border: solid white 2px;*/
		font-size: 29px;
		font-weight: bold;
		height: 23px;
		line-height: 1;
		/* Trebuchet alignment fix */
		text-align: center;
	}

}

/*Mobile*/
@media only screen and (max-width: 767px){

	/* Layout */
	#container{
		min-height:100vh;
		background: linear-gradient( rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) ), url("83.png") no-repeat center center fixed;
		background-size: cover;
		min-height: 100vh;
		padding: 50px 20px;
	}

/* Body */
	#content{
	text-align: center;
	/*padding: 186px 0 21px 0;*/
}

.works a img{
		display: flex;
		justify-content: space-around;
	}

	#line{

	display: flex;
	justify-content: space-around;
}



	#line a {
		text-align: center;
	}

}
