/* Reset */

*{margin: 0; padding: 0px;font-family: "Trebuchet", helvetica, sans-serif ;}

/* General */

body{
	padding: 50px 20px;	
}

/* Header */

header{
	padding:0 70px 0 500px;
}


#contact p {
	padding-right: 20px;
}

a{
	color: white;
	text-decoration: none;
}

a:hover,
a:focus{
	background-color: white;
	color: black;
	text-decoration: none;
}

nav ul li{
	padding-top: 30px;
}

nav{
	
    padding: 0px 90px;
}

main {

    margin: -141px 300px;
}

h2{
	padding: 15px 0;
}

.content p{
	padding-bottom: 20px;
}


.content ul, .content ul li {
    padding: 0 27px;
    
	}

#socialmedia{
    padding: 0 12px;
    margin-left: 31px;
}

#socialmedia ul, #socialmedia li{
	margin-top: 20px;

}

.projects{
	 margin: -17px 0;
	 
}


.projects ul li img{
	padding-top:24px;
}



.projects ul:nth-child(2) {  
  margin: -210px -170px 0 0;
}

@media only screen and (min-width: 768px){
	/* General */

	body{
	background: linear-gradient( rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) ), url("83.png") no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: "Trebuchet", helvetica, sans-serif;
	min-height: 100vh;
	position: relative;
	}


	#contact{
		float: right;
	}

	nav ul li{
		font-size: 40px;
		font-weight: bolder;
		list-style-type: none;
	}

	main {

		float: left;
		width: 100vh;
		
	}

	.content{
	width: 740px;
    margin: 20px 0;
}
	
	}

	.content ul, .content ul li {
		display: flex;
		justify-content: space-between;
	}

	#socialmedia ul, #socialmedia li{
		height: 33px;
		display: flex;
		justify-content: space-between;
	}

	.projects ul li img{
		width: 100%;
		list-style-type: none;

	}

	.projects ul:nth-child(1){

		list-style-type: none;
	}

	.projects ul:nth-child(2) {  
	float: right;
	}
}

/*Mobile*/
@media only screen and (max-width: 767px){
body{
	background: linear-gradient( rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) ), url("83.png") no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: "Trebuchet", helvetica, sans-serif;
	min-height: 100vh;
	position: relative;
	max-width: 767px;
	text-align: center;
	}

	header{
	padding: 0px;
    text-align: center;
    
	}

nav ul{

}

nav ul li{
	
    font-weight: bolder;
    padding: 15px 15px;
	}


	main{
	float: left;
    margin: 0 auto;
    text-align: center;
   
   	}

	

	li{
	list-style-type: none;
	}

	#socialmedia ul li{
		margin: -150px auto;
    	padding: 76px;
	}

.projects ul li img{
    width: 100%;
    padding: 12px 0;

}
	.projects ul:nth-child(2) {  
	margin: 0 auto;
    padding: 0;
	}
}