/* Reset */

*{margin: 0; padding: 0px;font-family: "Trebuchet", helvetica, sans-serif ;}

/* General */

body{
	padding: 50px 20px;	
}

/* Header */

header{
	padding:0 70px 0 500px;
}


#contact p {
	padding-right: 20px;
}

a{
	color: white;
	text-decoration: none;
}

a:hover,
a:focus{
	background-color: white;
	color: black;
	text-decoration: none;
}

nav ul li{
	font-size: 40px;
    font-weight: bolder;
	list-style-type: none;
	padding-top: 30px;
}

nav{
	
    padding: 20px 94px;
}

main {

    float: left;
    margin: -141px 300px;
    width: 100vh;
    
}

.content{
	width: 765px;
   
}

h2{
	padding: 15px 0;
}

.content p{
	padding-bottom: 20px;
}


.content ul, .content ul li {
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
}

#socialmedia{
    padding: 0 12px;
    margin-left: 31px;
}

#socialmedia ul, #socialmedia li{
	height: 33px;
	display: flex;
    justify-content: space-between;
    margin-top: 100px;

}

.portfolio{
	 margin: -170px 0;
	 
}


.portfolio ul li img{
	width: 100%;
	list-style-type: none;
	padding-top:24px;

}

.portfolio ul:nth-child(1){

	list-style-type: none;
}

.portfolio ul:nth-child(2) {  
  float: right;
  margin: -210px -170px 0 0;
}

@media only screen and (min-width: 768px){
	/* General */

	body{
	background: linear-gradient( rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) ), url("83.png") no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: "Trebuchet", helvetica, sans-serif;
	min-height: 100vh;
	position: relative;
}

#contact{
	float: right;
}

}