/*General Styling*/
*{padding: 0; margin: 0; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}


li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

/*Body Styling*/

body{}

/*Navigation*/
nav{
    background-color: white;
    position: relative;
    width: 100%;
}

#logo{
    float: left;  
    margin-top: -17px;
}



nav li a {
    
    color: black;
}


   main a:hover{
       color:  #FFFFFF;
        background-color: black;
       font-size: 14px;
   } 



/*Main container*/
#content{
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url(images/WSSLbg.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 40px;
    /*height: 100vh;*/
}

header{
    color: white;
    margin: 0 auto;
}

main{
    /*background-color: black;*/
    color: white;
}

.home{
    padding-top: 25px;  
}

.break{
    border-top: white 1px solid;
    /*width: 700px;*/
    margin: 29px auto;
    vertical-align: baseline;
}


.thumbnail img{
    width: 150px;
  
}

.thumbnail img:hover{
 transform: scale(1.5);
    }


.subscribe-input{
    height: 50px;
    width: 300px;
}   

.gallery{
        padding: 10px;
}
/*Footer*/
footer{
font-size: 12px
}

.subscribe-submit{
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color: black;
color: white;
border: white 1px;
height: 50px;
    width: 300px;
}

/*Desktop / Tablet screens*/
@media only screen and (min-width: 768px){
/*Navigation*/
 

nav a:hover{
        color: #FFFFFF;
        background-color: black;
        padding: 20px;
    }

nav ul{
    display: flex;
    justify-content: center;
    margin: 20px;
}

nav li a {
    padding: 15px;
    
}


.break{

    width: 700px;
}


.thumbnail{
    display: inline-block;
    width: 320px;
    padding: 30px 15px;
}

.contactform{
        float: left;
    padding: 100px;
}
.icon{
    display: none;
}

}

/*Mobile*/
@media only screen and (max-width: 768px){

    h1{
       font-size: 19px;
    }

    p, h4 {
        font-size: 12px;
        padding: 0 20px;

    }

    #logo{
        margin: auto 0;
        padding-right: 30px;
    }   

    nav {
        height:62px;
    }  

nav li{
    font-size: 12px;
    color: white;
}

nav li a{
    background-color: black;
    color: white;
}

.icon{
    float: right;
    margin: 0px -200px 0 0;
}
.menu{
   
    width: 100px;
}

ul.menu li{display: none;}

ul.menu li.icon {
    float: right;
    display: inline-block;
  }

  
.home{
    width: 100%;
}

main a{
    background-color: black;
}

.topnav{
        width: 156px;
    float: right;
    display: block;
}

.topnav .icon{
      float: right;
    margin: -66px 0px 0 0;
 
}