/*wssl.css*/

*{padding: 0; margin: 0; font-family:"Trebuchet MS", Helvetica, sans-serif}

#content{
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url("WSSLbg.jpg");
    background-size: cover;
    padding: 5px 128px;
    height: 800px;
    color: #FFFFFF;
}
nav{
    /*background-color: black;*/
    border-bottom: black solid 2px;
    height: 80px;
    padding: 0 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

p{
    padding: 20px 0;
}

/*#subcontent h3{
float: left;
}*/

nav ul a {
    padding: 0 20px;
    color: #000000;
    position: relative;
}

header{
   
    border-bottom: white 1px solid;
    width: 1189px;
    margin-left: -100px; 
}

main{
    padding-top: 30px;
}

#homeheader{
    margin-left: 315px;
}

#content{
    color: #FFFFFF;

}



#subcontent a {

    color: #FFFFFF;
}

/*.home{
padding-top: 20px;
}*/

footer{
    border-top: black solid 2px;
    padding: 0px 20px;
    float: right;
}

#events h3{
    font-size: 30px;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
}

#gallery li{
    padding: 20px;

}

#contact{
    margin: 0 auto;
    position: relative;
}
@media only screen and (min-width: 768px){
    #navlinks ul{
        display: flex;
        justify-content: flex-start;
        margin-right: 188px;
        
    }

    #navlinks li.icon{display: none;}

    #logo{
        float: left;
        height: 77px;
    }

    #navlinks a:hover{
        color: #FFFFFF;
        background-color: black;
        padding: 36px;
    }

    #navlinks{
        padding: 25px 9px;
    }

/*#events ul{
display: flex;
justify-content: space-between;

}*/
#events{
    width: 182px;
    float: left;
    margin: -18px -60px;
    border-right: white 1px solid;
    padding-right: 36px;
    height: 527px;
}


header h1{
    margin-left: 675px;
    margin-top: 26px;
}

#content a:hover{
    color: #3D5229;
}


.slider-wrap{
  /* overflow: hidden; */
  width: 927px;
  height: 500px;
  margin-top: 13px;
  /* float: right; */
  margin-left: 152px;
}

#slider{
    position: relative;
}

#slider li{
    position: absolute;
    right: -2117px;
}

#slider li.firstanimation {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.9s forwards;
    animation-delay: 1s;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 275px;
    padding: 50px 20px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* ANIMATION */

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}



}
@media only screen and (max-width: 768px){

body{
    text-align: center;
    font-size: 15px;
}    

#navlinks ul{
       display: none;
    }

#navlinks.responsive li.icon{
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    display: inline-block;
}    


header{
    margin: 0 auto;
    width: 100%;
}

#content {
    padding: 0px;
}

#homeheader{
    margin: 0 0 0 55px;
    width: 300px;
    text-align: center;

}

#events {
    border-bottom: white 1px solid;
    padding-right: 36px;
    margin: 0 auto;
    height: 100%;
}

.home{
    width: 100%;
    padding: 20px 0px;
}

}
