/*wssl.css*/

*{padding: 0; margin: 0; font-family:"Trebuchet MS", Helvetica, sans-serif}

#content{
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url("WSSLbg.jpg");
    background-size: cover;
    color: #FFFFFF;
    height: 800px;
    padding: 5px 128px;  
}

nav{
    border-bottom: black solid 2px;
    height: 80px;
    padding: 0 20px;
}

ul{
    list-style: none;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    
}

p{
    padding: 20px 0;
}


nav ul a {
    color: #000000;
    padding: 0 20px;
    position: relative;
}

#homeheader{
   
    border-bottom: white 1px solid;
    margin-left: -65px;
    width: 1084px;
    padding: 0px 57px 0 0px;
}

main{
    padding-top: 30px;
}

#content{
    color: #FFFFFF;
    padding: 0 0 0 156px;
}



#subcontent a {
    color: #FFFFFF;
}


footer{
    border-top: black solid 2px;
    float: right;
    padding: 0px 20px;
    
}

#events h3{
    font-size: 30px;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
}

#gallery li{
    padding: 20px;

}

 #logo{
        float: left;
        height: 77px;
    }


#contact{
    margin: 0 auto;
    position: relative;
}

@media only screen and (min-width: 768px){
    #navlinks ul{
        display: flex;
        justify-content: flex-start;
        margin-right: 188px;
        
    }

    #menu{display: none;}

   
    #navlinks a:hover{
        color: #FFFFFF;
        background-color: black;
        padding: 36px;
    }

    #navlinks{
        padding: 25px 9px;
    }

#events{
    width: 182px;
    float: left;
    margin: -18px -60px;
    border-right: white 1px solid;
    padding-right: 36px;
    height: 527px;
}


header h1{
        /* margin-left: 675px; */
    margin-top: 26px;
    /* margin: 0 auto; */
    text-align: center;
}

#content a:hover{
    color: #3D5229;
}


.slider-wrap{
  width: 927px;
  height: 500px;
  margin-top: 13px;
  margin-left: 152px;
}

#slider{
    position: relative;
}

#slider li{
    position: absolute;
    right: -2117px;
}

#slider li.firstanimation {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.9s forwards;
    animation-delay: 1s;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 275px;
    padding: 50px 20px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* ANIMATION */

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}



}
@media only screen and (max-width: 768px){

body{
    text-align: center;
    font-size: 15px;
}    
.dropdown-menu {
  border-radius:0px; 
  box-shadow:none; 
  border:none;
  top: 28px;
  background-color: lightgray;
  display: block;
  margin-top: 45px; 
}



 .menu{
    margin-right: 37px;
    float: right;
    
 }



#navlinks ul{
    display: none;
    margin: 5px -2px 0px 0;
    color: white;
    float: left;
    }

#navlinks{
    position: absolute;
    right: 0;
    top: 0px;
    float: right;
    display: inline-block;
    z-index: 10;
}    


header{
    margin: 0 auto;
    width: 100%;
}

#content {
    padding: 0px;
}

#homeheader{
    margin: 0 0 0 55px;
    width: 300px;
    text-align: center;

}

#events {
    border-bottom: white 1px solid;
    padding-right: 36px;
    margin: 0 auto;
    height: 100%;
}

.home{
    width: 100%;
    padding: 20px 0px;
}

}
