// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p{
    text-align: center;
    /* width: 500px; */
    padding: 20px 100px;

}

p b{
	color: black;
}