// Place all the styles related to the Pageds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{ margin:0; padding:0;}

a{
color: white;	
list-style-type: none;
text-decoration: none;
}

a:hover{
	color: yellow;
	font-size: 20px;
}

nav ul {
	    display: flex;
	    padding: 20px;
}

 li{
	padding: 20px;
}

header{
	background-color: black;
	display: flex;

}

#logo{
	padding: 20px;
}

main{

	
    margin: 0 auto;
	text-align: center;
	padding-top: 21px;
	position: relative;
}


footer img{
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

#social{
   text-align:center;
}

button{
	 border: none;
    background-color: black;
    color: white;
    padding: 10px 10px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px){

	nav ul{
	background-color: black;
	display: block;
	width: 92px;
	padding: 20px 0 20px 15px;
	
}

#logo{
	 margin: 0 auto;
    padding: 38px 80px 0px 0;
}

#projects{
    width: 330px;
    margin: 0 auto;
}

footer{
	padding: 20px 50px;

}

#social{
	display: flex;
}

footer img{

    padding: 20px;
	
}


}